main {
  @include flex(space-between, stretch);
  flex-wrap: wrap;
}

.main-text {
  width: 36rem;
  padding-right: 6rem;
  h2 {
    font-size: 3rem;
    color: color(very-dark-magenta);
  }
  p {
    // font-weight: 500;
    margin-top: 1rem;
    line-height: 1.7rem;
  }
}

.star-section {
  flex: 1 1 30rem;
  width: 54rem * (2/3);
  height: 20rem * (2/3);
  flex-direction: column;
  @include flex(space-between, flex-end);
  .star-div {
    position: relative;
    background-color: color(light-grayish-magenta);
    height: 5.6rem * (2/3);
    width: 44.5rem * (2/3);
    display: flex;
    align-items: center;
    border-radius: 0.8rem * (2/3);
    .stars {
      display: inline-block;
      margin: 0 2.8rem * (2/3);
      img {
        margin: 0 0.2rem * (2/3);
      }
    }
    h3 {
      color: color(very-dark-magenta);
      display: inline-block;
    }
  }
}

.reviews {
  transform: translateX(-21%);
}

.report-guru {
  transform: translateX(-10.5%);
}


@media (max-width: 1284px) {
  .main-text {
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .star-section {
    margin-top: 4.5rem *(2/3);
    flex: 1 1 30rem;
    // width: 100%;
    height: auto;
    flex-direction: column;
    @include flex(center, center);
    .star-div {
      margin-bottom: 1.6rem * (2/3);
      width: 100%;
      @include flex(center,center);
      flex-wrap: wrap;
      .stars {
        display: block;
        margin: 0 2.8rem * (2/3);
        img {
          margin: 0 0.2rem * (2/3);
        }
      }
      h3 {
        text-align: center;
        margin-top: .2rem;
        width: 100%;
        color: color(very-dark-magenta);
        display: block;
      }
    }
  }

  .reviews {
    transform: translateX(0);
  }

  .report-guru {
    transform: translateX(0);
  }
}
