* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  font-size: 15px;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 8.53333rem 11.46%;
}

.desktop-background {
  pointer-events: none;
  position: absolute;
}

.mobile-background {
  pointer-events: none;
  position: absolute;
  display: none;
}

.top {
  top: 0;
  left: 0;
}

.bottom {
  bottom: 0;
  right: 0;
}

h3 {
  font-size: 1rem;
}

@media (max-width: 650px) {
  .desktop-background {
    display: none;
  }
  .mobile-background {
    display: block;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-text {
  width: 36rem;
  padding-right: 6rem;
}

.main-text h2 {
  font-size: 3rem;
  color: #502050;
}

.main-text p {
  margin-top: 1rem;
  line-height: 1.7rem;
}

.star-section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  width: 36rem;
  height: 13.33333rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.star-section .star-div {
  position: relative;
  background-color: #f7f2f7;
  height: 3.73333rem;
  width: 29.66667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.53333rem;
}

.star-section .star-div .stars {
  display: inline-block;
  margin: 0 1.86667rem;
}

.star-section .star-div .stars img {
  margin: 0 0.13333rem;
}

.star-section .star-div h3 {
  color: #502050;
  display: inline-block;
}

.reviews {
  -webkit-transform: translateX(-21%);
          transform: translateX(-21%);
}

.report-guru {
  -webkit-transform: translateX(-10.5%);
          transform: translateX(-10.5%);
}

section.customer-reviews {
  margin-top: 5.33333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.review-div {
  color: white;
  background-color: #502050;
  height: 15.6rem;
  width: 23.33333rem;
  padding: 2.66667rem 2rem;
  border-radius: 8px;
}

.review-div .intro {
  width: 100%;
  height: auto;
  margin-bottom: 2.4rem;
}

.review-div .intro img {
  margin-right: 1.33333rem;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  float: left;
}

.review-div .intro .name {
  font-weight: 700;
}

.review-div .intro .review-status {
  color: #ee68a4;
  font-weight: 400;
  margin-top: .3rem;
}

.review-div p {
  font-weight: 400;
  font-size: 0.86667rem;
  line-height: 1.5rem;
}

.review-2 {
  -webkit-transform: translateY(6.84%);
          transform: translateY(6.84%);
}

.review-3 {
  -webkit-transform: translateY(13.68%);
          transform: translateY(13.68%);
}
/*# sourceMappingURL=styles.css.map */