$colors: (
  dark-grayish-magenta: hsl(303, 10%, 53%),
  light-grayish-magenta: hsl(300, 24%, 96%),
  very-dark-magenta: hsl(300, 43%, 22%),
  soft-pink: hsl(333, 80%, 67%),
);

@function color($color) {
  @return map-get($colors, $color);
}

@mixin flex($just, $align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  font-size: 15px;
}

body {
  // overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: (12.8rem * (2/3)) 11.46%;
}

.desktop-background {
  pointer-events: none;
  position: absolute;
}

.mobile-background {
  pointer-events: none;
  position: absolute;
  display: none;
}

.top {
  top: 0;
  left: 0;
}

.bottom {
  bottom: 0;
  right: 0;
}

h3 {
  font-size: 1.5rem * (2/3);
}

@media (max-width: 650px) {
  .desktop-background {
    display: none;
  }

  .mobile-background {
    display: block;
  }
}
@media (max-width: 475px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 355px) {
  html {
    font-size: 10px;
  }
}


@import "./main";
@import "./reviews";
